
.App {
  text-align: center;
  font-family: "VT323";
  background-color: #f4cad4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "VT323";
  src: url("./font/VT323-Regular.ttf") format("truetype");
}

.App-header {
  background-color: #fee2e9;
  font-family: "VT323";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

body {
  background-color: #f4cad4;
  font-family: "VT323";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}


h1, p{
  margin: 0;
}


.fadeIn {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 30;
  padding-right: 30;
  font-weight: normal;
  font-style: italic;
  opacity: 0;
  animation: fade-in 3s;
  animation-delay: 4.25s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  to { opacity: 1; }
}

label {
  display: inline-block;
  font-size: 18px;
}

input {
  display: block;
  border-radius: 8px;
  padding: 10px;
  border: none;
  margin-bottom: 8px;
  margin-top: 1px;
  box-sizing: border-box;
}

input:focus {
  outline: none
}

input::placeholder {
  color: lightgrey;
}

form {
  text-align: left;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  animation: change-visible 3s 6s forwards;
}
@keyframes change-visible {
  to {visibility: visible;}
}


.btn-signin {
  font-family: "VT323";
  color: white;
  font-size: 18px;
  display: block;
  margin-top: 12px;
  background-color: #fba7bd;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding-top: 4px ;
  padding-bottom: 4px;
}


/* help-tip */
.help-tip{
  display: inline-block;
  text-align: center;
  background-color: #fba7bd;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 12px;
  margin-left: 5px;
  margin-top: -10px;
  font-weight: lighter;
  align-content: center;
  cursor: default;
}

.help-tip:before{
  content:'?';
  color:#fff;
}

.help-tip:hover p{
  display:block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #f4cad4;
  font-size: 15px;
  font-weight: lighter;
  line-height: 1.4;
}

.help-tip p:before{ /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:white;
  left:2px;
  top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% { 
      opacity:0; 
      transform: scale(0.6);
  }

  100% {
      opacity:100%;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}